.swipe-enter {
  transform: translateX(100%);
}
.swipe-enter.swipe-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease-in-out;
}

.swipe-exit {
  background: green;
  transform: translateX(0);
}
.swipe-exit-active {
  transform: translateX(-100%);
  transition: transform 600ms ease-in-out;
}
