.swipe-enter {
  transform: translateX(150%);
}
.swipe-enter.swipe-enter-active {
  transform: translateX(0%);
  transition: transform 350ms ease-in-out;
}

.swipe-exit {
  background: green;
  transform: translateX(0);
}
.swipe-exit-active {
  transform: translateX(-150%);
  transition: transform 200ms ease-in-out;
}
